__pycache__/
*.py[cod]
*.so
.DS_Store

results*/
sbatch_output/
wandb/
runs/
test/

checkpoints/

pretrained_weights/*
!pretrained_weights/README.md
!pretrained_weights/clip-vit-large-patch14/
!pretrained_weights/clip-vit-large-patch14/.gitkeep
!pretrained_weights/google-bert-base-uncased/
!pretrained_weights/google-bert-base-uncased/.gitkeep
!pretrained_weights/Llama-2-7b-chat-hf/
!pretrained_weights/Llama-2-7b-chat-hf/.gitkeep
